<hlm-dialog-header *transloco="let t; prefix: 'users.form'">
  <h3 hlmDialogTitle>{{ isEditMode() ? t('editTitle') : t('addTitle') }}</h3>
  <p hlmDialogDescription>{{ isEditMode() ? t('editDescription') : t('addDescription') }}</p>
</hlm-dialog-header>

<div class="flex max-h-[calc(100vh-2rem)] w-full flex-col gap-0 overflow-y-auto sm:max-h-[min(640px,80vh)]">
  <form *transloco="let t; prefix: 'users.form'" class="flex w-full flex-col gap-4" (submit)="onSubmit($event)">
    <hlm-field>
      <hlm-field-label for="name" class="text-right">{{ t('label.name') }}</hlm-field-label>
      <input hlmInput id="name" [formField]="userForm.name" />
      <adm-validation-errors [fieldState]="userForm.name()" />
    </hlm-field>
    <hlm-field>
      <hlm-field-label for="email" class="text-right">{{ t('label.email') }}</hlm-field-label>
      <input hlmInput id="email" [formField]="userForm.email" />
      <adm-validation-errors [fieldState]="userForm.email()" />
    </hlm-field>
    <hlm-field>
      <hlm-field-label for="country" class="text-right">{{ t('label.country') }}</hlm-field-label>
      <adm-country-picker [formField]="userForm.country" />
      <adm-validation-errors [fieldState]="userForm.country()" />
    </hlm-field>

    <hlm-field>
      <hlm-field-label>{{ t('label.phoneNumber') }}</hlm-field-label>
      <adm-phone-number-picker [formField]="userForm.phoneNumber" />
      <adm-validation-errors [fieldState]="userForm.phoneNumber()" />
    </hlm-field>

    <hlm-field>
      <hlm-field-label for="role">{{ t('label.role') }}</hlm-field-label>
      <hlm-select class="text-start" [placeholder]="t('selectRolePlaceholder')" [formField]="userForm.role">
        <hlm-select-trigger id="role" class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (role of rolesList(); track role) {
            <hlm-option *transloco="let t; prefix: 'users.role'" [value]="role">{{ t(role) }}</hlm-option>
          }
        </hlm-select-content>
      </hlm-select>
      <adm-validation-errors [fieldState]="userForm.role()" />
    </hlm-field>
  </form>
</div>

<hlm-dialog-footer *transloco="let t; prefix: 'buttons'">
  <button type="button" hlmBtn variant="outline" brnDialogClose>{{ t('cancel') }}</button>
  <button type="submit" hlmBtn [disabled]="isSubmitting()">
    @if (isSubmitting()) {
      <hlm-spinner />
    }
    {{ t('save') }}
  </button>
</hlm-dialog-footer>
