<ng-container *transloco="let t; prefix: 'aiAssistant'">
  <div
    class="flex flex-wrap items-center justify-center gap-2"
    role="group"
    [attr.aria-label]="t('ariaLabels.suggestedPrompts')"
  >
    @for (suggestion of suggestions(); track suggestion.labelKey) {
      <button
        type="button"
        hlmBtn
        variant="outline"
        [attr.aria-label]="t('ariaLabels.useSuggestion') + ' ' + t(suggestion.labelKey)"
        (click)="handleClick(suggestion)"
      >
        @if (suggestion.icon) {
          <ng-icon hlmIcon size="sm" [name]="suggestion.icon" />
        }

        {{ t(suggestion.labelKey) }}
      </button>
    }
  </div>
</ng-container>
