<div *transloco="let t; prefix: 'users.list'" class="@container/main flex flex-1 flex-col gap-2">
  <div class="flex flex-col gap-4 md:gap-6">
    <dashboard-card-section />
    <div class="flex flex-col justify-between gap-4 py-4 sm:flex-row sm:items-center">
      <input hlmInput class="w-full md:w-80" [placeholder]="t('searchPlaceholder')" (input)="_filterChanged($event)" />

      <div class="flex gap-2">
        <!-- Column visibility -->
        <button type="button" hlmBtn variant="outline" align="end" [hlmDropdownMenuTrigger]="columnMenu">
          <ng-icon hlmIcon name="lucideSettings2" size="sm" />
          {{ t('columnsBtn') }}
          <ng-icon hlmIcon name="lucideChevronDown" class="ms-2" size="sm" />
        </button>

        <ng-template #columnMenu>
          <hlm-dropdown-menu class="columns-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
            @for (column of hidableColumns(); track column.id) {
              <div cdkDrag class="group column-box flex items-center gap-2">
                <button
                  type="button"
                  hlmDropdownMenuCheckbox
                  class="capitalize"
                  [checked]="column.getIsVisible()"
                  (triggered)="column.toggleVisibility()"
                >
                  <hlm-dropdown-menu-checkbox-indicator />
                  {{ t('columns.' + column.columnDef.id) }}
                </button>
                <ng-icon cdkDragHandle hlmIcon class="cursor-grab active:cursor-grabbing" name="lucideGripVertical" />
              </div>
            }
          </hlm-dropdown-menu>
        </ng-template>

        <!--  Refresh & Add User Buttons -->
        <button type="button" hlmBtn variant="outline" (click)="refreshTable()">
          <ng-icon hlmIcon name="lucideRefreshCcw" size="sm" />
          {{ t('refreshBtn') }}
        </button>
        <button type="button" hlmBtn variant="default" (click)="createUser()">
          <ng-icon hlmIcon name="lucideUserPlus" size="sm" />
          {{ t('addUserBtn') }}
        </button>
      </div>
    </div>
    <div class="overflow-hidden rounded-md border">
      <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
      @defer {
        <div hlmTableContainer>
          <table hlmTable>
            <thead hlmTHead class="bg-muted sticky top-0 z-10">
              @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
                <tr hlmTr>
                  @for (header of headerGroup.headers; track header.id) {
                    <th hlmTh [attr.colSpan]="header.colSpan">
                      @if (!header.isPlaceholder) {
                        <ng-container
                          *flexRender="header.column.columnDef.header; props: header.getContext(); let headerText"
                        >
                          @if (header.column.getCanSort()) {
                            <button
                              type="button"
                              class="flex cursor-pointer items-center gap-2 capitalize"
                              (click)="onSort(header.column)"
                            >
                              <div [innerHTML]="headerText"></div>
                              <ng-icon hlm size="sm" name="lucideArrowUpDown" />
                            </button>
                          } @else {
                            <div [innerHTML]="headerText"></div>
                          }
                        </ng-container>
                      }
                    </th>
                  }
                </tr>
              }
            </thead>
            <tbody hlmTBody class="w-full">
              @for (row of table.getRowModel().rows; track row.id) {
                <tr hlmTr [attr.key]="row.id" [attr.data-state]="row.getIsSelected() && 'selected'">
                  @for (cell of row.getVisibleCells(); track $index) {
                    <td hlmTd>
                      <ng-container *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cell">
                        <div [innerHTML]="cell"></div>
                      </ng-container>
                    </td>
                  }
                </tr>
              } @empty {
                <tr hlmTr>
                  <td hlmTd class="h-24 text-center" [attr.colspan]="_columns.length">{{ t('noUsers') }}</td>
                </tr>
              }
            </tbody>

            <ng-template #dateCell let-context> {{ context.getValue() | date: 'mediumDate' }} </ng-template>

            <ng-template #nameCell let-context>
              <div class="flex items-center gap-2">
                <hlm-avatar>
                  <img hlmAvatarImage [src]="context.row.original.avatar" [alt]="context.row.original.name" />
                  <span class="bg-destructive text-white" hlmAvatarFallback>
                    {{ context.row.original.name.charAt(0) + context.row.original.name.charAt(1).toUpperCase() }}
                  </span>
                </hlm-avatar>

                <span class="font-medium">{{ context.row.original.name }}</span>
              </div>
            </ng-template>

            <ng-template #statusCell let-context>
              <span hlmBadge variant="outline" class="text-muted-foreground" [id]="context.row.original.id + '-status'">
                @let status = context.getValue();
                @if (status === 'active') {
                  <ng-icon hlmIcon name="lucideCircleCheck" class="text-success" size="xs" />
                } @else if (status === 'inactive') {
                  <ng-icon hlmIcon name="lucideCircleX" class="text-destructive" size="xs" />
                } @else {
                  <ng-icon hlmIcon name="lucideLoader" size="xs" class="text-warning" />
                }
                <span class="capitalize"> {{ status }} </span>
              </span>
            </ng-template>

            <ng-template #roleCell let-context>
              @let role = context.getValue();

              <span
                class="flex w-fit items-center gap-1.5 border-transparent px-2 py-0.5 capitalize"
                [id]="context.row.original.id + '-role'"
              >
                @switch (role) {
                  @case ('admin') {
                    <ng-icon hlmIcon size="sm" [name]="'lucideShieldCheck'" />
                  }
                  @case ('manager') {
                    <ng-icon hlmIcon size="sm" [name]="'lucideBriefcase'" />
                  }
                  @default {
                    <ng-icon hlmIcon size="sm" [name]="'lucideUser'" />
                  }
                }
                {{ role }}
              </span>
            </ng-template>
          </table>
        </div>
      } @placeholder {
        <div class="flex h-96 items-center justify-center">
          <hlm-spinner />
        </div>
      }
    </div>

    <div *transloco="let t; prefix: 'pagination'" class="flex flex-col justify-between sm:flex-row sm:items-center">
      @if (table.getRowCount() > 0) {
        <span class="text-muted-foreground text-sm">
          {{ t('rows-selected', { selected: table.getSelectedRowModel().rows.length, total: table.getRowCount() }) }}
        </span>
        <data-table-pagination [table]="table" />
      }
    </div>
  </div>
</div>
