<div hlmSidebarWrapper>
  <hlm-sidebar collapsible="icon" [side]="side()">
    <hlm-sidebar-header>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <a hlmSidebarMenuButton size="lg" href="#">
            <div
              class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg"
            >
              <ng-icon name="lucideCommand" class="text-base" />
            </div>
            <div class="grid flex-1 text-left text-sm leading-tight">
              <span class="truncate font-medium">Acme Inc</span>
              <span class="truncate text-xs">Enterprise</span>
            </div>
          </a>
        </li>
      </ul>
    </hlm-sidebar-header>

    <hlm-sidebar-content>
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel>Application</div>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for(item of _items; track item.title){
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton>
                <ng-icon hlm [name]="item.icon" />
                <span>{{ item.title }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
      <nav-secondary class="mt-auto" />
    </hlm-sidebar-content>
    <hlm-sidebar-footer>
      <user [user]="user" />
    </hlm-sidebar-footer>
  </hlm-sidebar>
  <ng-content />
</div>
