/* https://github.com/fullcalendar/fullcalendar/blob/main/packages/core/src/styles/vars.css */
full-calendar {
  --fc-border-color: var(--border);
  --fc-page-bg-color: var(--background);
  --fc-neutral-bg-color: var(--muted);
  --fc-list-event-hover-bg-color: var(--accent);
  --fc-today-bg-color: var(--muted);
}

.fc .fc-daygrid-event-harness {
  margin: 0;
  padding-top: 4px;
  padding-inline: 4px;
}

.fc-event {
  background-clip: padding-box !important;
  @apply rounded-md! border-none px-2 py-1 shadow-sm;
}

.fc-h-event {
  border: none !important;
}

.fc-h-event .fc-event-main-frame {
  flex-direction: row-reverse;
}
.fc-h-event .fc-event-title {
  display: flex;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fc-h-event .fc-event-time {
  overflow: visible !important;
}
