full-calendar {
  --fc-border-color: var(--border);
  --fc-page-bg-color: var(--background);
  --fc-neutral-bg-color: var(--muted);
  --fc-list-event-hover-bg-color: var(--accent);
}
.fc .fc-day-today {
  background-color: var(--muted) !important;
}
