<hlm-combobox *transloco="let t; prefix: 'countryPicker'" [value]="value()" (valueChange)="value.set($event)">
  <hlm-combobox-trigger class="w-full justify-between font-normal">
    @if (value()) {
      <adm-country-display [country]="value()" />
    } @else {
      {{ t('selectCountryPlaceholder') }}
    }
  </hlm-combobox-trigger>

  <hlm-combobox-content *hlmComboboxPortal>
    <hlm-combobox-input showTrigger="false" mode="popup" [placeholder]="t('searchCountryPlaceholder')">
      <hlm-input-group-addon>
        <ng-icon name="lucideSearch" />
      </hlm-input-group-addon>
    </hlm-combobox-input>

    <hlm-combobox-empty *transloco="let t">{{ t('common.noData') }}</hlm-combobox-empty>

    <div hlmComboboxList>
      @for (country of countriesList(); track country.id) {
        <hlm-combobox-item [value]="country">
          <adm-country-display [country]="country" />
        </hlm-combobox-item>
      }
    </div>
  </hlm-combobox-content>
</hlm-combobox>
