<hlm-popover *transloco="let t; prefix: 'users.form'" align="start" [state]="state()" (stateChanged)="stateChanged($event)">
  <button
    #trigger
    type="button"
    class="w-full justify-between"
    id="edit-profile"
    hlmPopoverTrigger
    hlmBtn
    variant="outline"
    (click)="state.set('open')"
  >
    <div class="flex items-center">
      @if (value()) {
        <app-country-display class="mr-2" [country]="value()" />
      } @else {
        <span>{{ t('selectCountryPlaceholder') }}</span>
      }
    </div>

    <ng-icon hlm size="sm" name="lucideChevronsUpDown" class="opacity-50" />
  </button>
  <hlm-command *brnPopoverContent="let ctx" hlmPopoverContent class="p-0" [matchWidth]="trigger">
    <hlm-command-search>
      <ng-icon hlm name="lucideSearch" />
      <input hlm-command-search-input [placeholder]="t('searchCountryPlaceholder')" />
    </hlm-command-search>
    <div *brnCommandEmpty hlmCommandEmpty>{{ t('noCountryFound') }}</div>
    <hlm-command-list class="w-full">
      <hlm-command-group class="w-full">
        @for (country of _countriesList(); track country.id) {
          <button type="button" hlm-command-item [value]="country.name[activeLang()]" (selected)="countrySelected(country)">
            <app-country-display class="mr-2" [country]="country" />
            <ng-icon hlm class="ml-auto" name="lucideCheck" hlmCommandIcon [class.opacity-0]="value()?.id !== country.id" />
          </button>
        }
      </hlm-command-group>
    </hlm-command-list>
  </hlm-command>
</hlm-popover>
