<div *transloco="let t; prefix: 'table'" class="flex flex-col gap-4 md:gap-6">
  <div class="overflow-hidden rounded-md border">
    <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
    @defer {
      <div hlmTableContainer>
        <ng-scrollbar hlm [withButtons]="true">
          <table hlmTable [style]="columnSizeVars()">
            <!-- Table Header -->
            <thead hlmTHead class="bg-card sticky top-0 z-10">
              @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
                <tr hlmTr>
                  @for (header of headerGroup.headers; track header.id) {
                    <th class="relative" hlmTh [attr.colSpan]="header.colSpan" [tableResizableHeader]="header.id">
                      @if (!header.isPlaceholder) {
                        <ng-container
                          *flexRender="header.column.columnDef.header; props: header.getContext(); let headerText"
                        >
                          @if (header.column.getCanSort()) {
                            <button type="button" class="flex items-center gap-2 capitalize" (click)="onSort(header.column)">
                              <div [innerHTML]="headerText"></div>
                              <ng-icon hlm size="sm" name="lucideArrowUpDown" />
                            </button>
                          } @else {
                            <div [innerHTML]="headerText"></div>
                          }
                        </ng-container>

                        @if (header.column.getCanResize() && resizableColumns()) {
                          <div
                            class="resizer hidden md:block"
                            [class.isResizing]="header.column.getIsResizing()"
                            (dblclick)="header.column.resetSize()"
                            (mousedown)="header.getResizeHandler()($event)"
                            (touchstart)="header.getResizeHandler()($event)"
                          ></div>
                        }
                      }
                    </th>
                  }
                </tr>
              }
            </thead>

            @if (isLoading()) {
              <tbody>
                <tr>
                  <td hlmTd class="h-96 text-center" [attr.colspan]="columns().length">
                    <div class="flex h-96 items-center justify-center">
                      <hlm-spinner class="text-[2rem]" />
                    </div>
                  </td>
                </tr>
              </tbody>
            } @else {
              <!-- Table Body -->
              <tbody hlmTBody class="w-full">
                @for (row of table.getRowModel().rows; track row.id) {
                  <tr hlmTr [attr.key]="row.id" [attr.data-state]="row.getIsSelected() && 'selected'">
                    @for (cell of row.getVisibleCells(); track $index) {
                      <td hlmTd [tableResizableCell]="cell.column.id">
                        <ng-container *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cell">
                          <div [innerHTML]="cell"></div>
                        </ng-container>
                      </td>
                    }
                  </tr>
                } @empty {
                  <tr hlmTr>
                    <td *transloco="let t" hlmTd class="h-24 text-center" [attr.colspan]="columns().length">
                      {{ t('common.noData') }}
                    </td>
                  </tr>
                }
              </tbody>
            }
          </table>
        </ng-scrollbar>
      </div>
    } @placeholder {
      <div class="flex h-96 items-center justify-center">
        <hlm-spinner />
      </div>
    }
  </div>

  <div *transloco="let t; prefix: 'pagination'" class="flex flex-col justify-between sm:flex-row sm:items-center">
    @if (table.getRowCount() > 0) {
      @if (enableRowSelection()) {
        <span class="text-muted-foreground text-sm">
          {{ t('rowSelected', { selected: table.getSelectedRowModel().rows.length, total: table.getRowCount() }) }}
        </span>
      }
      @if (paginated()) {
        <adm-pagination class="sm:ms-auto" [pageSizeOptions]="pageSizeOptions()" [table]="table" />
      }
    }
  </div>
</div>
