<div *transloco="let t; prefix: 'settings.team'" class="w-full">
  <!-- Add team member -->
  <form class="flex justify-between" novalidate (submit)="onAddMember($event)">
    <div class="flex w-full gap-3">
      <hlm-field>
        <hlm-input-group>
          <hlm-input-group-addon>
            <ng-icon name="lucideMail" size="16" />
          </hlm-input-group-addon>
          <input hlmInputGroupInput type="email" [placeholder]="t('emailPlaceholder')" [formField]="addMemberForm.email" />
        </hlm-input-group>
        <adm-validation-errors [fieldState]="addMemberForm.email()" />
      </hlm-field>

      <hlm-field class="">
        <brn-select class="inline-block" [formField]="addMemberForm.role" [placeholder]="t('selectRole')">
          <hlm-select-trigger>
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            @for (role of roles; track role) {
              <hlm-option [value]="role">
                {{ t('roles.' + role) }}
              </hlm-option>
            }
          </hlm-select-content>
        </brn-select>
      </hlm-field>
    </div>

    <div class="flex items-center justify-end gap-4">
      @if (isLoading()) {
        <hlm-spinner size="sm" />
      }
      <button hlmBtn type="submit" [disabled]="isLoading()">
        {{ t('addMember') }}
      </button>
    </div>
  </form>

  <!-- Team members -->
  <div class="mt-8 flex flex-col divide-y border-t border-b">
    @for (member of members(); track member.id) {
      <div class="flex flex-col gap-4 py-6 sm:flex-row sm:items-center">
        <!-- Member info -->
        <div class="flex items-center gap-4">
          <hlm-avatar>
            <img hlmAvatarImage [src]="member.avatar" [alt]="member.name" />
            <span hlmAvatarFallback>{{ member.name.charAt(0) }}</span>
          </hlm-avatar>
          <div>
            <div class="font-medium">{{ member.name }}</div>
            <div class="text-muted-foreground text-sm">{{ member.email }}</div>
          </div>
        </div>

        <!-- Actions -->
        <div class="flex items-center gap-3 sm:ml-auto">
          <!-- Role selector -->
          <brn-select class="inline-block" [value]="member.role">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              @for (role of roles; track role) {
                <hlm-option [value]="role">
                  <div class="font-medium">{{ t(`roles.${role}`) }}</div>
                </hlm-option>
              }
            </hlm-select-content>
          </brn-select>

          <!-- Delete button -->
          <button hlmBtn variant="ghost" size="icon" type="button" (click)="removeMember(member.id)">
            <ng-icon name="lucideTrash2" size="16" />
          </button>
        </div>
      </div>
    }
  </div>
</div>
