<adm-auth-layout>
  <div *transloco="let t; prefix: 'auth.signup'" hlmCard class="mx-auto w-full max-w-xl justify-center p-4">
    <div class="space-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">
        {{ t('title') }}
      </h1>
      <p class="text-muted-foreground text-center text-sm">
        {{ t('haveAccount') }}
        <a routerLink="/login" class="text-primary font-semibold underline-offset-4 hover:cursor-pointer hover:underline">
          {{ t('signIn') }}
        </a>
      </p>
    </div>

    <form class="flex flex-col gap-4">
      <hlm-field>
        @let name = signupForm.name();
        <hlm-field-label for="name">{{ t('nameLabel') }}</hlm-field-label>
        <input
          hlmInput
          id="name"
          type="text"
          autocomplete="name"
          [placeholder]="t('namePlaceholder')"
          [field]="signupForm.name"
        />

        @let showNameErrors = name.touched() && name.invalid();
        @if (showNameErrors) {
          @for (error of name.errors(); track error) {
            <hlm-field-error *transloco="let t">{{ t('validation.' + error.kind) }}</hlm-field-error>
          }
        }
      </hlm-field>

      <hlm-field>
        @let email = signupForm.email();
        <hlm-field-label for="email">{{ t('emailLabel') }}</hlm-field-label>
        <input
          hlmInput
          id="email"
          type="email"
          autocomplete="email"
          [placeholder]="t('emailPlaceholder')"
          [field]="signupForm.email"
        />

        @let showEmailErrors = email.touched() && email.invalid();
        @if (showEmailErrors) {
          @for (error of email.errors(); track error) {
            <hlm-field-error *transloco="let t">{{ t('validation.' + error.kind) }}</hlm-field-error>
          }
        }
      </hlm-field>

      <hlm-field>
        <hlm-field-label for="password">{{ t('passwordLabel') }}</hlm-field-label>
        <div class="relative">
          <input
            hlmInput
            id="password"
            autocomplete="new-password"
            [type]="showPassword() ? 'text' : 'password'"
            [placeholder]="t('passwordPlaceholder')"
            [field]="signupForm.password"
          />
          <ng-icon
            hlmIcon
            size="sm"
            class="absolute inset-y-2.5 end-2 cursor-pointer"
            [name]="showPassword() ? 'lucideEye' : 'lucideEyeOff'"
            (click)="togglePasswordVisibility()"
          />
        </div>

        @let password = signupForm.password();
        @let showPasswordErrors = password.touched() && password.invalid();
        @if (showPasswordErrors) {
          @for (error of password.errors(); track error) {
            @if (error.kind === 'minLength') {
              <hlm-field-error *transloco="let t">{{
                t('validation.minLength', { min: passwordMinLength })
              }}</hlm-field-error>
            } @else {
              <hlm-field-error *transloco="let t">{{ t('validation.' + error.kind) }}</hlm-field-error>
            }
          }
        }
      </hlm-field>

      <hlm-field>
        <hlm-field-label for="confirmPassword">{{ t('confirmPasswordLabel') }}</hlm-field-label>
        <div class="relative">
          <input
            hlmInput
            id="confirmPassword"
            autocomplete="new-password"
            [type]="showConfirmPassword() ? 'text' : 'password'"
            [placeholder]="t('confirmPasswordPlaceholder')"
            [field]="signupForm.confirmPassword"
          />
          <ng-icon
            hlmIcon
            size="sm"
            class="absolute inset-y-2.5 end-2 cursor-pointer"
            [name]="showConfirmPassword() ? 'lucideEye' : 'lucideEyeOff'"
            (click)="toggleConfirmPasswordVisibility()"
          />
        </div>

        @let confirmPassword = signupForm.confirmPassword();
        @let showConfirmPasswordErrors = confirmPassword.touched() && confirmPassword.invalid();
        @if (showConfirmPasswordErrors) {
          @for (error of confirmPassword.errors(); track error) {
            <hlm-field-error *transloco="let t">{{ t('validation.' + error.kind) }}</hlm-field-error>
          }
        }
      </hlm-field>

      <button type="button" hlmBtn [disabled]="isLoading()" (click)="onSubmit()">
        @if (isLoading()) {
          <hlm-spinner />
        }
        {{ t('signupButton') }}
      </button>
    </form>

    <p class="text-muted-foreground text-center text-sm sm:px-8">
      {{ t('termsText') }}
      <a class="hover:text-primary cursor-pointer underline underline-offset-4">{{ t('termsOfService') }}</a>
      {{ t('and') }}
      <a class="hover:text-primary cursor-pointer underline underline-offset-4">{{ t('privacyPolicy') }}</a>
      .
    </p>
  </div>
</adm-auth-layout>
