<div *transloco="let t; prefix: 'phoneNumberPicker'" class="flex">
  <hlm-combobox [value]="selectedCountry()" (valueChange)="selectedCountry.set($event)">
    <hlm-combobox-trigger class="flex gap-1 rounded-e-none border-e-0 focus-visible:ring-0">
      @if (selectedCountry()) {
        <adm-country-display [country]="selectedCountry()" [showCountryCode]="true" />
      } @else {
        <ng-icon hlm name="lucideGlobe" size="sm" />
      }
    </hlm-combobox-trigger>

    <hlm-combobox-content *hlmComboboxPortal class="w-64">
      <hlm-combobox-input showTrigger="false" mode="popup" [placeholder]="t('searchCountryPlaceholder')">
        <hlm-input-group-addon>
          <ng-icon name="lucideSearch" />
        </hlm-input-group-addon>
      </hlm-combobox-input>
      <hlm-combobox-empty *transloco="let t">{{ t('common.noData') }}</hlm-combobox-empty>
      <div hlmComboboxList>
        @for (country of _countriesList(); track country.id) {
          <hlm-combobox-item [value]="country">
            <adm-country-display [country]="country" />
            <span class="text-muted-foreground text-xs">{{ country.code }}</span>
          </hlm-combobox-item>
        }
      </div>
    </hlm-combobox-content>
  </hlm-combobox>

  <!-- Phone Number Input -->
  <input
    hlmInput
    class="flex-1 rounded-s-none"
    [placeholder]="t('enterPhoneNumberPlaceholder')"
    [error]="invalid() && touched() ? true : 'auto'"
    [value]="rawPhoneNumber()"
    (input)="onPhoneInput($event)"
    (blur)="touched.set(true)"
  />
</div>
