<div *transloco="let t; prefix: 'phoneNumberPicker'" class="flex">
  <hlm-popover sideOffset="5" align="start" [state]="state()" (stateChanged)="stateChanged($event)">
    <button
      type="button"
      hlmBtn
      variant="outline"
      hlmPopoverTrigger
      class="flex gap-1 rounded-e-none border-e-0 px-3 focus-visible:ring-0"
      (click)="state.set('open')"
    >
      @if (selectedCountry()) {
        <adm-country-display class="mr-2" [country]="selectedCountry()" [showCountryCode]="true" />
      } @else {
        <ng-icon hlm name="lucideGlobe" size="sm" />
      }
      <ng-icon hlm size="xs" name="lucideChevronDown" class="opacity-50" />
    </button>

    <hlm-command *brnPopoverContent="let ctx" hlmPopoverContent class="w-64 p-0">
      <hlm-command-search>
        <ng-icon hlm name="lucideSearch" />
        <input hlm-command-search-input [placeholder]="t('searchCountryPlaceholder')" />
      </hlm-command-search>
      <div *brnCommandEmpty hlmCommandEmpty>
        <span *transloco="let t"> {{ t('common.noData') }}</span>
      </div>
      <hlm-command-list>
        <hlm-command-group>
          @for (country of _countriesList(); track country.id) {
            <button
              type="button"
              class="flex justify-between"
              hlm-command-item
              [value]="country.name[activeLang()]"
              (selected)="countrySelected(country)"
            >
              <adm-country-display class="me-2" [country]="country" />
              <span class="text-muted-foreground text-xs">{{ country.code }}</span>
            </button>
          }
        </hlm-command-group>
      </hlm-command-list>
    </hlm-command>
  </hlm-popover>

  <!-- Phone Number Input -->
  <input
    hlmInput
    class="flex-1 rounded-s-none"
    [placeholder]="t('enterPhoneNumberPlaceholder')"
    [error]="invalid() && touched() ? true : 'auto'"
    [value]="rawPhoneNumber()"
    (input)="onPhoneInput($event)"
    (blur)="touched.set(true)"
  />
</div>
